
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
h1{
    font-family: "Open Sans", sans-serif;
}
p{
    font-family: "Open Sans", sans-serif;
}
a{
    font-family: "Open Sans", sans-serif;
}


body{
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 1.5;
}
.para1{
    padding: 50px;
}

h1{
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-shadow: 2px 2px 0 rebeccapurple;
}
a{
    text-decoration: none;
}
p::first-letter{
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 600;
}

.section{
       margin: 200px 200px 200px 200px;
    width: 1000px;
    color: white;
    background-color: rgb(88, 94, 197);
    border: 15px solid blue;
    border-radius: 100px 50px 25px 12px;}
    


/* box model */

