*{@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
.head{
    display: flex;
margin: 0.225em 62em 0rem 62em;
    text-align: center;
    border: 0.125em;
    background-color: aqua;
   border-radius: 10rem;
}

 
.div1{
    font-size: 1.6rem;
    margin: auto;
    margin-top: 100px;
    height: 200px;
    width: 600px;
    border: 2px solid black;
   
}


.div2{
    margin-top: 100px;
}