div{
    border: 1px solid #ffffff;
    width: 500px;
    height: 500px;
    border-color: aquamarine;
    border-radius: 100% 52% 77% 44% / 100% 25% 100% 0% ;
   
    background-image: linear-gradient(black rgb(87, 200, 121) rgb(60, 131, 198));

}
.section{
    background-image: linear-gradient(to right,  red , blue);
}
